@import "variables";
@import "utility";
@import "gutter";


* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #404447;
}

.container {
    margin: 0 auto;
    position: relative;
}

.highway-road {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.highway-section {
    display: flex;
    justify-content: flex-start;
}

.plant-section{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        display: block;
        width: 60%;
    }
}

.road-block {
    width: 200px;
    height: 250px;
}

.road-line {
    height: 250px;
    width: 12px;
    display: flex;
    align-items: center;
    .line{
        height: 150px;
        width: 100%;
        &.solid {
            height: 300px;
        }
        &.bold{
            width: 30px;
        }
        &.yellow {
            background-color: $orange;
        }
        &.white {
            background-color: white;
        }
    }
}

.car-list{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.car{
    position: absolute;
    z-index: 100;
    width: 110px;
    img{
        display: block;
        width: 100%;
    }
    &.car-2{
        top: 600px;
        left: 570px + (200 + 20) * 1;
    }
    &.car-3{
        top: 500px;
        left: 570px + (200 + 20) * 2;
    }
    &.car-4{
        top: 1000px;
        left: 570px + (200 + 20) * 2;
    }
    &.car-5{
        top: 1200px;
        left: 570px + (200 + 20) * 0;
    }
}
