@import "variables";
@import "utility";
@import "gutter";


* {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

$content-width: 150px * 2 + 200 * 4 + 12 * 5;

body{
    min-width: $content-width;
    background-color: #404447;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.highway-road {
    margin: 0 auto;
    width: $content-width;
    position: relative;
}

.road {
    width: $content-width;
}

.highway-section {
    display: flex;
    justify-content: center;
}

.plant-section{
    //background-color: #3a2700;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        display: block;
        width: 60%;
    }
}

.road-block {
    width: 200px;
    height: 250px;
}

.road-line {
    height: 250px;
    width: 12px;
    display: flex;
    align-items: center;
    .line{
        height: 150px;
        width: 100%;
        &.solid {
            height: 300px;
        }
        &.bold{
            width: 30px;
        }
        &.yellow {
            background-color: $orange;
        }
        &.white {
            background-color: white;
        }
    }
}

.car-list{
    width: 150px * 2 + 200 * 4 + 12 * 5;
    position: absolute;
    top: 0;
    left: 0;
}
.car {
    position: absolute;
    z-index: 100;
    width: 110px;
    img {
        margin-top: 10px;
        display: block;
        width: 100%;
    }
    .speed{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    }
    .dialog {
        margin-top: 10px;
        font-size: 14px;
        border: 1px solid $color-border;
        background-color: white;
        @include border-radius(10px);
        padding: 10px;
    }
}

.scene-title{
    font-size: 60px;
    color: $yellow;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
    text-shadow: 3px 3px 0 transparentize(black, 0.6);
}



.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column nowrap;
    height: 250px;
    padding-bottom: 30px;
    background: linear-gradient(60deg, $orange, $yellow, $green, $cyan, $blue, $purple, $red);
    z-index: 10000;
    h1{
        font-size: 80px;
        color: white;
        font-weight: bold;
        text-align: center;
        text-shadow: 5px 5px 0 transparentize(black, 0.6), 2px 2px 5px transparentize($orange, 0.1);
    }
    p{
        font-size: 13px;
        margin-top: 20px;
        color: white;
        text-shadow: 1px 1px 0 transparentize(black, 0.8);
    }
    a{
        text-shadow: 1px 1px 0 transparentize(black, 0.8);
        color: white;
        font-size: 13px;
    }
}

